// Colors
$primary-base: #2d87f3;
$primary-hover: #2c74df;
$primary-active: #2b62cd;
$primary-visited: #5e38ba;

$secondary-base: #284a75;
$secondary-dark: #1b3250;

$alert-warning: #fe921d;
$yellow-50: #fff8e2;

$blue-50: #e3f2ff;
$blue-100: #bcdeff;
$blue-200: #91caff;
$blue-300: #65b5ff;
$blue-400: #45a4ff;
$blue-500: #2b94ff;
$blue-600: #2d87f3;
$blue-700: #2c74df;
$blue-800: #2b62cd;
$blue-900: #2743ad;

$gray-100: #f2f2f2;
$gray-200: #d9d9d9;
$gray-300: #bfbfbf;
$gray-400: #8c8c8c;
$gray-500: #737373;
$gray-600: #595959;
$gray-800: #262626;

$shade-7: #53596f;

$neutral-100: #f1f2f4;
$neutral-200: #dbdfe5;
$neutral-500: #8292a6;

$yellow-50: #fff8e2;
$yellow-500: #fe921d;

$red-50: #fae9e8;
$red-500: #ff5331;
$red-700: #e64728;

$green-50: #e0f8ee;

$black: #000;
$white: #fff;
$success: #00b16a;

$success: #00b16a;

// Font weights
$fw-light: 300;
$fw-regular: 400;
$fw-medium: 500;
$fw-semibold: 600;
$fw-bold: 700;
$fw-extrabold: 800;
$fw-black: 900;

// z-index
$zIndex-dropdown: 1000;
$zIndex-overlay: 1001;
